.container {
    display: flex;
}

.right {
    flex: 1.6;
    padding: 10px
}

.left {
    flex: 1;
    background-color:rgb(64, 64, 68);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 100px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

fieldset{
    background-color: rgb(64, 64, 68);
    
}